{% if limit < nbFiguresMax %}
    <div class="container-fluid text-center">
        <a href="{{ path(path, { limit: limit + 4 }) }}#liste_figures" class="btn btn-success mt-2 self-align-center"><i class="bi bi-arrow-clockwise"></i>Load more</a>
    </div>
{% endif %}
