{% extends 'base.html.twig' %}

{% form_theme formNewFigure 'bootstrap_5_layout.html.twig' %}

{% block body %}

    {% if formEditFigure %}
        <h1>Edition d'une figure !</h1>
    {% else %}
        <h1>Création d'une figure !</h1>
    {% endif %}

    {{ form_start(formNewFigure) }}

    {{ form_row(formNewFigure.nom, {'attr':{'placeholder': "nom de la figure"}}) }}
    {{ form_row(formNewFigure.description, {'attr':{'placeholder': "description de la figure"}}) }}

    <button type="submit" class="btn btn-success">
        {% if formEditFigure %}
            Enregistrer les modifications
        {% else %}
            Créer nouvelle figure
        {% endif %}
    </button>

    {{ form_end(formNewFigure) }}

{% endblock %}