{% extends "base.html.twig" %}

{% block body %}

<figure>
        <h2>Titre de la figure</h2>
        <div class="metadata">Ecrit le 10/11/2022 à 15:52 dans la catégorie Débutant</div>
        <div class="content">
            <img src="https://via.placeholder.com/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium explicabo laboriosam reiciendis neque temporibus aliquid.</p>
            <p>Illo pariatur quasi quae quibusdam sapiente tenetur nesciunt quo, cupiditate expedita quisquam. Et, tempore dolor.</p>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione aliquam alias, vitae nostrum repudiandae consequatur architecto, mollitia perferendis obcaecati ea sunt ipsum rerum fugit. Eligendi hic nihil, at est in quis modi, qui quisquam optio autem nisi iure nobis perspiciatis. Id, officiis! Deserunt sed velit dolor doloremque, asperiores magnam voluptatem.</p>
            <p>Fugiat ab enim recusandae ipsum cumque dolorem dolorum quisquam eos ut, autem voluptatem magnam quia deserunt, beatae neque. Nemo, eos explicabo? Explicabo voluptatem exercitationem officia aspernatur accusantium pariatur neque magni praesentium fugiat ea harum labore error eos eligendi tempora id ratione, totam consectetur architecto consequuntur tempore ipsum sint modi quae?</p>
        </div>
        <a href=""><button class="btn-primary">modifier</button></a>
    </figure>

{% endblock %}